@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Paleta de Colores
.color1 {color: #a97171;}
.color2 {color: #b28d7c;}
.color3 {color: #c0b3a1;}
.color4 {color: #d6d6d0;}
.color5 {color: #efecf0;}

.color1 {color: #b48eb0;}
.color2 {color: #c999a4;}
.color3 {color: #d4b7b0;}
.color4 {color: #dcd4cd;}
.color5 {color: #e3e2e1;}
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*Mobile first*/

/*Inicio del header*/
header {
    background: #c0b3a1;
    width:100%;
}

/*Inicio de menú horizontal*/
nav {
    padding: 1em;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #c0b3a1;
  }
  nav li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
  }
  nav li a:hover {
    color: #a97171;
  }
/*Fin de menú horizontal*/
/*Fin del header*/

  

/*Mobile first*/
@media screen and (min-width: 480px) {

    * {
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }    

    /*Menu horizontal*/
    nav ul {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    /*Menu horizontal*/






/*

.logo {
    width: 30%;
    height: 70px;
    float: left;
    padding-top: 10px;
    box-sizing: border-box;
}

.logo a {
    width: 100px;
    height: 70px;
    text-decoration: none;
    color: white;
}






/*Principio del main*/
main {
    width: 80%;
    height: auto;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

h2  {
    color: #b48eb0;
    font-size: 35px;
}
/*Fin del main*/






/*Principio del footer */
footer {
    width: 100%;
    height: 100%;
    background: #c0b3a1;
}

footer .ancho_footer{
    width: 80%;
    height: 300px;
    margin: auto;
    padding-top: 50px;
    display: flex;
}


/*Formulario de Novedades */
.form_novedades {
    width: 100%;
    height: 200px;
    background: #efecf0;
    float: left;
    border-radius: 5px;
    position: relative;
    margin-right: 80px;
}

footer div div form {
    width: 90%;
    height: 80px;
    margin: auto;
    text-align: center;
    padding-top: 30px;
}

form label {
    font-weight: bold;
    letter-spacing: 1px;
}

input[name="correo"] {
    border: solid 2px #dcd4cd;
    width: 190px;
    height: 10px;
    margin-top: 20px;
    padding: 10px;
}

input[name="enviar_suscripcion"] {
    background: #dcd4cd;
    border: none;
    padding: 5px;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 12px;
}

input[name="enviar_suscripcion"]:hover {
    background-color: #a97171;
    color: white;
}
/*Fin formulario de Novedades */

/*Menu footer */
.ancho_menu {
    position: relative;
    margin-right: 50px;
}

.menu_footer {
    text-align: center;
    list-style: none;
    width: 200%;
    height: 200px;
}

.titulo_menu {
    margin-bottom: 10px;
    font-weight: bold;
    color: white;
}

.menu_footer li {
    text-align: left;

}

.menu_footer li a {
    text-decoration: none;
    color: white;
}

.menu_footer li a:hover {
    color: #a97171;
}
/*Fin menu footer */


/*Redes section footer */
.redes {
    float: right; 
    width: 60%;
    height: 200px;
    position: relative;
    margin-left: 100px;
}

h4 {
    text-align: left;
    color: white;
    padding-bottom: 10px;;
}

.iconos_redes button i {
    color: white;
}

.iconos_redes button i:hover {
    color: #a97171;
}

.iconos_redes button {
    border: none;
    background: none;
}

.logo_footer {
    max-width: 100%;
    max-height: 100%;
    padding-top: 20px;
}

.logo_footer img {
    width: 100px;
    height: 100px;
}
/*Fin redes section footer */
/*Fin del footer*/





/*AQUI COMIENZA EL ESTILO DE LA PAG INICIO*/
h3 {
    color: #b48eb0;
}

/*slider*/
.contenedor_slider {
    margin: auto;
    width: 100%;
    height: 400px;
    padding: 30px;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

#slider {
    position: relative;
    width: 100%;
    height: 400px;
}

#slider li{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

#slider li img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#slider li:first-child {
    opacity: 1;
}

#slider li:target {
    opacity: 1;
}

.botonera {
    text-align: center;
    margin: 10px;
}

.botonera li {
    display: inline-block;
    text-align: center;
}

.botonera li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: #a97171;
    padding: 10px;
    width: 10px;
    height: 10px;
    font-size: 10px;
    border-radius: 100%;
}
/*slider*/

/*inicio section de salva vidas*/
#salva_vidas_section{
    width: 100%;
    height: 400px;
    margin-bottom: 100px;
}

#salva_vidas_section h2{
    margin-bottom: 20px;
}

#salva_vidas_section p{
    margin-bottom: 20px;
}

#salva_vidas_section ul{
    margin-top: 10px;
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: center;
}

#salva_vidas_section ul li{
    display: inline-block;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}

#salva_vidas_section ul li a{
    color: #a97171;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}

#salva_vidas_section ul li img{
    width: 150px;
    margin-bottom: 20px;

}
/*fin section de salva vidas*/

/*inicio section de salva vidas*/
#adoptantes {
    margin: auto;
    width: 100%;
    height:  900px;
}

#slider_adoptantes {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 820px;
}

#slider_adoptantes li {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    padding: 20px;
}

#slider_adoptantes li img{
    width: 50%;
    margin-top: 20px;
    object-fit: cover;
}

#slider_adoptantes li:first-child {
    opacity: 1;
}

#slider_adoptantes li:target {
    opacity: 1;
}

img[src="img/adoptantes-acuarela.jpg"] {
    float: left;
    margin-right: 20px;
}

#slider_adoptantes li p {
    display: block;
    width: 98%;
    margin-top: 20px;
}
/*fin section adoptantes*/


/*AQUI TERMINA EL ESTILO DE LA PAG INICIO*/





/*AQUI COMIENZA EL ESTILO DE LA PAG ADOPTA*/
article img {
    width: 100%;
}

.parrafo_presentacion_adopciones {
    margin-top: 30px;
    margin-bottom: 30px;
}

hr { 
    border:1px solid #b48eb0;
    margin-bottom: 20px;
}

.lista_de_tips_adopciones {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.text_presentacion {
    margin-top: 30px;
    font-weight: bold;
    color:#a97171;
}

.lista_de_requisitos {
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 20px;
}

.lista_de_tips_adopciones strong {
    color:#a97171;
}

.boton_submit {
    text-align: center;
}

input[value="Postularme para adoptar"]{
    background: #dcd4cd;
    border: none;
    padding: 5px;
    margin-top: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 12px;
}

input[value="Postularme para adoptar"]:hover {
    background-color: #a97171;
    color: white;
}
/*AQUI TERMINA EL ESTILO DE LA PAG ADOPTA*/



/*AQUI COMIENZA EL ESTILO DE LA PAG CONTACTO*/

form[action="formulario_de_contacto.php"]{
    display: inline-block;   
}

form[action="formulario_de_contacto.php"] label{
    color:#a97171;
}

form[action="formulario_de_contacto.php"] input[type="text"]{
    margin-top: 10px;
    margin-bottom: 30px;
    width: 500px;
    height: 30px;
    border: solid 2px#c0b3a1;
    padding: 2px;
    padding-left: 5px;
}

#asunto{
    margin-top: 10px;
    margin-bottom: 30px;
    border: solid 2px #c0b3a1;
}

textarea {
    margin-top: 10px;
    margin-bottom: 30px;
    width: 500px;
    height: 100px;
    border: solid 2px#c0b3a1;
    padding: 2px;
    padding-left: 5px;
    padding-top:  7px;
}

.contenedor_img {
    float: right; 
    margin-top: 10px;
}

.imagen_contacto_form {
    width: 300px;
    height: auto;
}

input[name="enviar_formulario"]{
    width: 150px;
    height: 30px;
    float: right;
    background: #a97171;
    border: solid 2px #c0b3a1;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

input[type="reset"]{
    width: 150px;
    height: 30px;
    margin-right: 10px;
    float: right;
    background: #a97171;
    border: solid 2px #c0b3a1;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

input[name="enviar_formulario"]:hover{
    background: #dcd4cd ;
    color: black;
}

input[type="reset"]:hover{
    background: #dcd4cd ;
    color: black;
}
/*AQUI TERMINA EL ESTILO DE LA PAG CONTACTO*/


/*AQUI COMIENZA EL ESTILO DE LA PAG DONACIONES*/
/*AQUI TERMINA EL ESTILO DE LA PAG DONACIONES*/

}